// Primary Colors
$access-color: #E5173F;
$shiraz-color: #B00836;
$glacier-color: #8BC7CB;
$persiangreen-color: #009999;
$atoll-color: #036D83;
$midnightblue-color: #373A65;
$shark-color: #2B2B31;

// Secondary Colors

$pink-color: #E37086;
$lilac-color: #C688C5;
$purple-color: #6C4290;
$turqoise-color: #60B9CB;
$darkgreen-color: #5C9068;
$lightgreen-color: #5BA46C;
$gold-color: #DDA441;
$orange-color: #F9A411;
$yellow-color: #DFC24F;
$lightbrown-color: #A38854;
$darkbrown-color: #655237;

// Page Element Colors

$title-color: #4C4F53;
$default-color: #7E7E81;
$subtitles-color: #AAAAB1;
$border-color: #DBE0E5;
$toolbar-color: #E9ECEE;
$highlight-color: #E2ECEF;
$background-color: #f7f8fa;
$page-color: #FFFFFF;

// 5 Shades Of Grey

$grey1-color: #2C2E31;
$grey2-color: #373737;
$grey3-color: #808080;
$grey4-color: #BDBDBD;
$grey5-color: #DFDEDE;
