@font-face {
    font-family: 'Access';
    src:
        url('../fonts/Access.ttf?v3njan') format('truetype'),
        url('../fonts/Access.woff?v3njan') format('woff'),
        url('../fonts/Access.svg?v3njan#Access') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Access' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Hierarchy:before {
    content: "\e900";
}
.icon-History:before {
    content: "\e901";
}
.icon-Home:before {
    content: "\e902";
}
.icon-Hotspot:before {
    content: "\e903";
}
.icon-ID:before {
    content: "\e904";
}
.icon-Image:before {
    content: "\e905";
}
.icon-IndentL:before {
    content: "\e906";
}
.icon-IndentR:before {
    content: "\e907";
}
.icon-Institution:before {
    content: "\e908";
}
.icon-Invoice:before {
    content: "\e909";
}
.icon-Invoice2:before {
    content: "\e90a";
}
.icon-Italic:before {
    content: "\e90b";
}
.icon-ItemList:before {
    content: "\e90c";
}
.icon-ItemList2:before {
    content: "\e90d";
}
.icon-Lectern:before {
    content: "\e90e";
}
.icon-Left:before {
    content: "\e90f";
}
.icon-Lifering:before {
    content: "\e910";
}
.icon-LineChart:before {
    content: "\e911";
}
.icon-LineChartArrow:before {
    content: "\e912";
}
.icon-LineChartSolid:before {
    content: "\e913";
}
.icon-LineChartSolid2:before {
    content: "\e914";
}
.icon-Link:before {
    content: "\e915";
}
.icon-Locked:before {
    content: "\e916";
}
.icon-Map:before {
    content: "\e917";
}
.icon-Map2:before {
    content: "\e918";
}
.icon-MapMarker:before {
    content: "\e919";
}
.icon-Medal:before {
    content: "\e91a";
}
.icon-Medal2:before {
    content: "\e91b";
}
.icon-Medal3:before {
    content: "\e91c";
}
.icon-Medical:before {
    content: "\e91d";
}
.icon-MedicalClipboard:before {
    content: "\e91e";
}
.icon-Megaphone:before {
    content: "\e91f";
}
.icon-Menu:before {
    content: "\e920";
}
.icon-Minus:before {
    content: "\e921";
}
.icon-MinusThin:before {
    content: "\e922";
}
.icon-MoneyBag:before {
    content: "\e923";
}
.icon-Moon:before {
    content: "\e924";
}
.icon-MortarBoard:before {
    content: "\e925";
}
.icon-Move:before {
    content: "\e926";
}
.icon-MoveCross:before {
    content: "\e927";
}
.icon-MoveSmall:before {
    content: "\e928";
}
.icon-MP3Player:before {
    content: "\e929";
}
.icon-MultiBuilding:before {
    content: "\e92a";
}
.icon-Music:before {
    content: "\e92b";
}
.icon-News:before {
    content: "\e92c";
}
.icon-NoEntry:before {
    content: "\e92d";
}
.icon-NoEntrySign:before {
    content: "\e92e";
}
.icon-Note1:before {
    content: "\e92f";
}
.icon-Note2:before {
    content: "\e930";
}
.icon-Notebook:before {
    content: "\e931";
}
.icon-Numbered:before {
    content: "\e932";
}
.icon-Octagon:before {
    content: "\e933";
}
.icon-Paste:before {
    content: "\e934";
}
.icon-Payslip:before {
    content: "\e935";
}
.icon-Payslip2:before {
    content: "\e936";
}
.icon-Percent:before {
    content: "\e937";
}
.icon-PercentThin:before {
    content: "\e938";
}
.icon-Phone:before {
    content: "\e939";
}
.icon-PieChart:before {
    content: "\e93a";
}
.icon-Piechart2:before {
    content: "\e93b";
}
.icon-PieChart3:before {
    content: "\e93c";
}
.icon-PiggyBank:before {
    content: "\e93d";
}
.icon-Pill:before {
    content: "\e93e";
}
.icon-Pill2:before {
    content: "\e93f";
}
.icon-Plugin:before {
    content: "\e940";
}
.icon-Plus:before {
    content: "\e941";
}
.icon-PlusThin:before {
    content: "\e942";
}
.icon-PosititAdd:before {
    content: "\e943";
}
.icon-Postit:before {
    content: "\e944";
}
.icon-PostitNote:before {
    content: "\e945";
}
.icon-PostitRemove:before {
    content: "\e946";
}
.icon-Pound:before {
    content: "\e947";
}
.icon-Pound1:before {
    content: "\e948";
}
.icon-Power:before {
    content: "\e949";
}
.icon-Presentation:before {
    content: "\e94a";
}
.icon-Print:before {
    content: "\e94b";
}
.icon-Print2:before {
    content: "\e94c";
}
.icon-Pushpin:before {
    content: "\e94d";
}
.icon-Qualification:before {
    content: "\e94e";
}
.icon-QuestionMark:before {
    content: "\e94f";
}
.icon-Radioactive:before {
    content: "\e950";
}
.icon-Receipt:before {
    content: "\e951";
}
.icon-Receipt2:before {
    content: "\e952";
}
.icon-Redo:before {
    content: "\e953";
}
.icon-Refresh:before {
    content: "\e954";
}
.icon-Repeat:before {
    content: "\e955";
}
.icon-ReportBarChart:before {
    content: "\e956";
}
.icon-ReportBarChart2:before {
    content: "\e957";
}
.icon-ReportPieChart:before {
    content: "\e958";
}
.icon-ReportPieChart2:before {
    content: "\e959";
}
.icon-ReportTable:before {
    content: "\e95a";
}
.icon-ReportTable2:before {
    content: "\e95b";
}
.icon-Ribbon:before {
    content: "\e95c";
}
.icon-Right:before {
    content: "\e95d";
}
.icon-RightAngle:before {
    content: "\e95e";
}
.icon-RSS:before {
    content: "\e95f";
}
.icon-Ruler:before {
    content: "\e960";
}
.icon-Safe:before {
    content: "\e961";
}
.icon-Save:before {
    content: "\e962";
}
.icon-Save2:before {
    content: "\e963";
}
.icon-Scales:before {
    content: "\e964";
}
.icon-ScatterGraph:before {
    content: "\e965";
}
.icon-School:before {
    content: "\e966";
}
.icon-Scroll:before {
    content: "\e967";
}
.icon-Search:before {
    content: "\e968";
}
.icon-Server:before {
    content: "\e969";
}
.icon-Settings:before {
    content: "\e96a";
}
.icon-Settings2:before {
    content: "\e96b";
}
.icon-ShoppingBasket:before {
    content: "\e96c";
}
.icon-ShoppingTrolley:before {
    content: "\e96d";
}
.icon-Snowflake:before {
    content: "\e96e";
}
.icon-Sort:before {
    content: "\e96f";
}
.icon-Sort2Horizontal:before {
    content: "\e970";
}
.icon-Sort2Vertical:before {
    content: "\e971";
}
.icon-SortAsc:before {
    content: "\e972";
}
.icon-SortDec:before {
    content: "\e973";
}
.icon-SortHorizontal:before {
    content: "\e974";
}
.icon-SortVertical:before {
    content: "\e975";
}
.icon-Speaker:before {
    content: "\e976";
}
.icon-Square:before {
    content: "\e977";
}
.icon-SquareChecked:before {
    content: "\e978";
}
.icon-Squares:before {
    content: "\e979";
}
.icon-Star:before {
    content: "\e97a";
}
.icon-StarShape:before {
    content: "\e97b";
}
.icon-StopSign:before {
    content: "\e97c";
}
.icon-Strikethrough:before {
    content: "\e97d";
}
.icon-Student:before {
    content: "\e97e";
}
.icon-Sum:before {
    content: "\e97f";
}
.icon-Switches:before {
    content: "\e980";
}
.icon-Switches2:before {
    content: "\e981";
}
.icon-Table:before {
    content: "\e982";
}
.icon-TableThin:before {
    content: "\e983";
}
.icon-Tag:before {
    content: "\e984";
}
.icon-Tick:before {
    content: "\e985";
}
.icon-Ticket:before {
    content: "\e986";
}
.icon-ToggleOff:before {
    content: "\e987";
}
.icon-ToggleOn:before {
    content: "\e988";
}
.icon-Tools:before {
    content: "\e989";
}
.icon-Triangle:before {
    content: "\e98a";
}
.icon-Underline:before {
    content: "\e98b";
}
.icon-Undo:before {
    content: "\e98c";
}
.icon-Unlocked:before {
    content: "\e98d";
}
.icon-Untitled-1:before {
    content: "\e98e";
}
.icon-Upload:before {
    content: "\e98f";
}
.icon-Upload2:before {
    content: "\e990";
}
.icon-UpThin:before {
    content: "\e991";
}
.icon-User:before {
    content: "\e992";
}
.icon-UserAdd:before {
    content: "\e993";
}
.icon-UserF:before {
    content: "\e994";
}
.icon-Users:before {
    content: "\e995";
}
.icon-UserSuit:before {
    content: "\e996";
}
.icon-Video:before {
    content: "\e997";
}
.icon-VideoPlayer:before {
    content: "\e998";
}
.icon-VideoPlayer2:before {
    content: "\e999";
}
.icon-Volume:before {
    content: "\e99a";
}
.icon-VolumeMute:before {
    content: "\e99b";
}
.icon-Wallet:before {
    content: "\e99c";
}
.icon-Wallet2:before {
    content: "\e99d";
}
.icon-Warning:before {
    content: "\e99e";
}
.icon-WarningSign:before {
    content: "\e99f";
}
.icon-Watch:before {
    content: "\e9a0";
}
.icon-WeatherCloud:before {
    content: "\e9a1";
}
.icon-WeatherHeavyRain:before {
    content: "\e9a2";
}
.icon-WeatherShower:before {
    content: "\e9a3";
}
.icon-WeatherSun:before {
    content: "\e9a4";
}
.icon-WeatherSunCloud:before {
    content: "\e9a5";
}
.icon-Wifi:before {
    content: "\e9a6";
}
.icon-Windmill:before {
    content: "\e9a7";
}
.icon-WindowColumns:before {
    content: "\e9a8";
}
.icon-WindowLayout:before {
    content: "\e9a9";
}
.icon-WindowLayout2:before {
    content: "\e9aa";
}
.icon-WindowRows:before {
    content: "\e9ab";
}
.icon-Windows:before {
    content: "\e9ac";
}
.icon-ZoomIn:before {
    content: "\e9ad";
}
.icon-ZoomOut:before {
    content: "\e9ae";
}
.icon-AddressBook:before {
    content: "\e9af";
}
.icon-AlignC:before {
    content: "\e9b0";
}
.icon-AlignJ:before {
    content: "\e9b1";
}
.icon-AlignL:before {
    content: "\e9b2";
}
.icon-AlignR:before {
    content: "\e9b3";
}
.icon-Apple:before {
    content: "\e9b4";
}
.icon-Arrow2Down:before {
    content: "\e9b5";
}
.icon-Arrow2Left:before {
    content: "\e9b6";
}
.icon-Arrow2Right:before {
    content: "\e9b7";
}
.icon-Arrow2Up:before {
    content: "\e9b8";
}
.icon-ArrowDiagonalBottom:before {
    content: "\e9b9";
}
.icon-ArrowDiagonalTop:before {
    content: "\e9ba";
}
.icon-ArrowDown:before {
    content: "\e9bb";
}
.icon-ArrowFF:before {
    content: "\e9bc";
}
.icon-ArrowHorizontal:before {
    content: "\e9bd";
}
.icon-ArrowLeft:before {
    content: "\e9be";
}
.icon-ArrowRight:before {
    content: "\e9bf";
}
.icon-ArrowRW:before {
    content: "\e9c0";
}
.icon-ArrowsContract:before {
    content: "\e9c1";
}
.icon-ArrowsContract2:before {
    content: "\e9c2";
}
.icon-ArrowsExpand:before {
    content: "\e9c3";
}
.icon-ArrowsExpand2:before {
    content: "\e9c4";
}
.icon-ArrowUp:before {
    content: "\e9c5";
}
.icon-ArrowVertical:before {
    content: "\e9c6";
}
.icon-Art:before {
    content: "\e9c7";
}
.icon-Asterix:before {
    content: "\e9c8";
}
.icon-Attachment:before {
    content: "\e9c9";
}
.icon-Badge:before {
    content: "\e9ca";
}
.icon-Badge2:before {
    content: "\e9cb";
}
.icon-BarChart:before {
    content: "\e9cc";
}
.icon-BarChart2:before {
    content: "\e9cd";
}
.icon-BarChartHorizontal:before {
    content: "\e9ce";
}
.icon-BarChartThin:before {
    content: "\e9cf";
}
.icon-Battery0:before {
    content: "\e9d0";
}
.icon-Battery1:before {
    content: "\e9d1";
}
.icon-Battery2:before {
    content: "\e9d2";
}
.icon-Battery3:before {
    content: "\e9d3";
}
.icon-Battery4:before {
    content: "\e9d4";
}
.icon-Bold:before {
    content: "\e9d5";
}
.icon-Book:before {
    content: "\e9d6";
}
.icon-Book2:before {
    content: "\e9d7";
}
.icon-Books:before {
    content: "\e9d8";
}
.icon-Branch:before {
    content: "\e9d9";
}
.icon-BranchMerge:before {
    content: "\e9da";
}
.icon-Briefcase:before {
    content: "\e9db";
}
.icon-BubbleChart:before {
    content: "\e9dc";
}
.icon-Bug:before {
    content: "\e9dd";
}
.icon-Building:before {
    content: "\e9de";
}
.icon-Bullets:before {
    content: "\e9df";
}
.icon-Calculator:before {
    content: "\e9e0";
}
.icon-Calendar:before {
    content: "\e9e1";
}
.icon-Calendar2:before {
    content: "\e9e2";
}
.icon-CalendarAdd:before {
    content: "\e9e3";
}
.icon-CalendarBlank:before {
    content: "\e9e4";
}
.icon-CalendarTick:before {
    content: "\e9e5";
}
.icon-Camcorder:before {
    content: "\e9e6";
}
.icon-Camera:before {
    content: "\e9e7";
}
.icon-Caps:before {
    content: "\e9e8";
}
.icon-CardSwitch1:before {
    content: "\e9e9";
}
.icon-CardSwitch2:before {
    content: "\e9ea";
}
.icon-Castle:before {
    content: "\e9eb";
}
.icon-Chat:before {
    content: "\e9ec";
}
.icon-Chat2:before {
    content: "\e9ed";
}
.icon-Chat3:before {
    content: "\e9ee";
}
.icon-Checkbox:before {
    content: "\e9ef";
}
.icon-Checkbox2:before {
    content: "\e9f0";
}
.icon-cheque1:before {
    content: "\e9f1";
}
.icon-Cheque2:before {
    content: "\e9f2";
}
.icon-ChevronDown:before {
    content: "\e9f3";
}
.icon-ChevronLeft:before {
    content: "\e9f4";
}
.icon-ChevronRight:before {
    content: "\e9f5";
}
.icon-ChevronUp:before {
    content: "\e9f6";
}
.icon-Circle:before {
    content: "\e9f7";
}
.icon-Circle0-4:before {
    content: "\e9f8";
}
.icon-Circle1-2:before {
    content: "\e9f9";
}
.icon-Circle1-4:before {
    content: "\e9fa";
}
.icon-Circle3-4:before {
    content: "\e9fb";
}
.icon-Circle4-4:before {
    content: "\e9fc";
}
.icon-CircleArrowDown:before {
    content: "\e9fd";
}
.icon-CircleArrowLeft:before {
    content: "\e9fe";
}
.icon-CircleArrowRight:before {
    content: "\e9ff";
}
.icon-CircleArrowUp:before {
    content: "\ea00";
}
.icon-CircleCog:before {
    content: "\ea01";
}
.icon-CircleCross:before {
    content: "\ea02";
}
.icon-CircleEject:before {
    content: "\ea03";
}
.icon-CircleEnd:before {
    content: "\ea04";
}
.icon-CircleHeart:before {
    content: "\ea05";
}
.icon-CircleInfo:before {
    content: "\ea06";
}
.icon-CircleLock:before {
    content: "\ea07";
}
.icon-CircleMinus:before {
    content: "\ea08";
}
.icon-CirclePause:before {
    content: "\ea09";
}
.icon-CirclePlus:before {
    content: "\ea0a";
}
.icon-CircleQuestionMark:before {
    content: "\ea0b";
}
.icon-CircleRecord:before {
    content: "\ea0c";
}
.icon-CircleStar:before {
    content: "\ea0d";
}
.icon-CircleStart:before {
    content: "\ea0e";
}
.icon-CircleStop:before {
    content: "\ea0f";
}
.icon-CircleTick:before {
    content: "\ea10";
}
.icon-CircleUnlocked:before {
    content: "\ea11";
}
.icon-Clipboard:before {
    content: "\ea12";
}
.icon-Clipboard2:before {
    content: "\ea13";
}
.icon-Clock:before {
    content: "\ea14";
}
.icon-CloudDownload:before {
    content: "\ea15";
}
.icon-CloudUpload:before {
    content: "\ea16";
}
.icon-Code:before {
    content: "\ea17";
}
.icon-Coin2:before {
    content: "\ea18";
}
.icon-Coins:before {
    content: "\ea19";
}
.icon-Coins2:before {
    content: "\ea1a";
}
.icon-Columns:before {
    content: "\ea1b";
}
.icon-Compass:before {
    content: "\ea1c";
}
.icon-Conversation:before {
    content: "\ea1d";
}
.icon-CreditCard:before {
    content: "\ea1e";
}
.icon-CreditCardBack:before {
    content: "\ea1f";
}
.icon-Cross:before {
    content: "\ea20";
}
.icon-Crosshair:before {
    content: "\ea21";
}
.icon-Crosshair2:before {
    content: "\ea22";
}
.icon-CrossThin:before {
    content: "\ea23";
}
.icon-Cut1:before {
    content: "\ea24";
}
.icon-Delete:before {
    content: "\ea25";
}
.icon-Diamond:before {
    content: "\ea26";
}
.icon-Divide:before {
    content: "\ea27";
}
.icon-Doc:before {
    content: "\ea28";
}
.icon-Doc2:before {
    content: "\ea29";
}
.icon-DocAdd:before {
    content: "\ea2a";
}
.icon-DocAudio:before {
    content: "\ea2b";
}
.icon-DocChat:before {
    content: "\ea2c";
}
.icon-DocContract:before {
    content: "\ea2d";
}
.icon-DocExcel:before {
    content: "\ea2e";
}
.icon-DocImage:before {
    content: "\ea2f";
}
.icon-DocList:before {
    content: "\ea30";
}
.icon-DocList2:before {
    content: "\ea31";
}
.icon-DocPDF:before {
    content: "\ea32";
}
.icon-DocPie:before {
    content: "\ea33";
}
.icon-DocPowerpoint:before {
    content: "\ea34";
}
.icon-DocTable:before {
    content: "\ea35";
}
.icon-DocVideo:before {
    content: "\ea36";
}
.icon-DocWord:before {
    content: "\ea37";
}
.icon-DonutChart:before {
    content: "\ea38";
}
.icon-DonutChart2:before {
    content: "\ea39";
}
.icon-Download:before {
    content: "\ea3a";
}
.icon-Download2:before {
    content: "\ea3b";
}
.icon-DownThin:before {
    content: "\ea3c";
}
.icon-Drag:before {
    content: "\ea3d";
}
.icon-Drag2:before {
    content: "\ea3e";
}
.icon-Duplicate:before {
    content: "\ea3f";
}
.icon-Duplicate2:before {
    content: "\ea40";
}
.icon-Edit:before {
    content: "\ea41";
}
.icon-Edit2:before {
    content: "\ea42";
}
.icon-EggTimerFull:before {
    content: "\ea43";
}
.icon-EggTimerHalf:before {
    content: "\ea44";
}
.icon-Electricity:before {
    content: "\ea45";
}
.icon-Email:before {
    content: "\ea46";
}
.icon-Email2:before {
    content: "\ea47";
}
.icon-EndLeft:before {
    content: "\ea48";
}
.icon-EndRight:before {
    content: "\ea49";
}
.icon-Equals:before {
    content: "\ea4a";
}
.icon-Film:before {
    content: "\ea4b";
}
.icon-FilmReel:before {
    content: "\ea4c";
}
.icon-Filter:before {
    content: "\ea4d";
}
.icon-FirstAid:before {
    content: "\ea4e";
}
.icon-Flask:before {
    content: "\ea4f";
}
.icon-Folder:before {
    content: "\ea50";
}
.icon-Folder2:before {
    content: "\ea51";
}
.icon-FolderArchive:before {
    content: "\ea52";
}
.icon-FolderArchive2:before {
    content: "\ea53";
}
.icon-FolderHistory:before {
    content: "\ea54";
}
.icon-FolderHistory2:before {
    content: "\ea55";
}
.icon-Folders:before {
    content: "\ea56";
}
.icon-FolderStar:before {
    content: "\ea57";
}
.icon-FolderStar2:before {
    content: "\ea58";
}
.icon-Football:before {
    content: "\ea59";
}
.icon-Football2:before {
    content: "\ea5a";
}
.icon-Gauge:before {
    content: "\ea5b";
}
.icon-Globe:before {
    content: "\ea5c";
}
.icon-Heart:before {
    content: "\ea5d";
}
.icon-Heartbeat:before {
    content: "\ea5e";
}
.icon-Heartbeat2:before {
    content: "\ea5f";
}
.icon-Hexagon:before {
    content: "\ea60";
}
